server:
  port: 8888

spring:
  application:
    name: gateway-service

  cloud:
    config:
      enabled: false

    gateway:
      mvc:
        routes:
          - id: customer-route
            uri: http://localhost:8081
            predicates:
              - Path=/api/customers/**
          - id: product-route
            uri: http://localhost:8082
            predicates:
              - Path=/api/products/**
